header {
    background: white;
    height: 20vh;

    
    a{
      color:$primary-color;
    }



    .bgnav {
      background-color: #888888;
      display: flex;
      justify-content: space-between; 
      height: 30px;
      width: 100%;
    
      a, i{ 
          color: white;
          font-size: 1em;
          margin: 0;
          margin-top: 3px;
    
          .fa-whatsapp{color: #4FCE5D}
      }
    .bgnav_space{
      width: 161px;    
    }
      .bgnav_span{ 
        border: 1px solid white;
        color: #888888;
        position: relative;
        top: 2px;
        font-size: x-large;
          
      }
    }
    .menu{      
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
        
        

        .licorera_logo{
          position: relative;
          // display: flex;
          left: 85px;
          margin: 5px 0;
        }

        .menu-left li:last-child {
            display: none;
        }

        .menu-left{
          .open-slide{
            position: relative;
            top: 5px;
            margin-right: 10px;

            .menu_title{
              // display: flex;
              font-size: 15px;
              position: absolute;
              top: 25px;
              left: 0px;
          }

            .menu-btn{
              position: relative;
              left: -4px;
              top: 4px;
              cursor: pointer;
              @include easeOut;

              .btn-line{
                width: 28px;
                height: 1.5px;
                margin: 0 0 6px 0;
                background: $primary-color;
                @include easeOut;

                &:last-child{
                  width: 20px
                }
              }
            }
          }
          

          
        }

        
        .menu-right{
          .fal{
            margin-left: 10px;
          }
        }
        ul{
            margin: 0;
            padding: 0;

            a{
                font-size: 16px ;
            }

            li{
                display: inline-block;
                padding: 0 5px;
            }

            .fal{
              font-size: 22px;
              position: relative;
              top: 4px;
            }

            ._user{
                position: relative;
                margin-left: 10px;
            }

            .bar{
              content: '';
              position: absolute;
              width: 0.5px;
              height: 18px;
              top: 72px;
              background-color: $primary-color;
            }
    }

    
}
    

    
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.8;
    overflow-y:auto;
    @include easeOut;
    

    .side-menu-ul ul{ 
      display: none;
    }
    

    // .side-menu-ul li:hover ul{
    //   display: block;
    // }

    ul{
        padding: 0;
        margin: 0;
    }

    a{
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 17px;
        color: #ccc;
        display: block;
        @include easeOut;

        .fa-chevron-right{
            float: right;
        }
        .fa-chevron-down{
            float: right;
        }

        &:not(.btn-close){
          border-bottom: 2px solid;
          height: 12px;
          
        }
        
        &.list{
            border: none;
            font-size: 0.8rem;
            padding: 2px 40px;

            &.--right{
                display: flex;
                flex-direction: row-reverse;
            }
        }
        
        &:hover{
          color: white;
        }
    }

    .location{
       li {
          background: $primary-color;
          position: relative;
          top: 0px;
        }

        ul a{
          font-size: 15px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
    }

    .side-menu__login{
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
      margin-top: 8px;p

      li{
          color: white;
          font-size: 12px;
      }
    }
    
    .btn-close{
      display: -moz-inline-grid;
      font-size: 12px;
    }

    

    .side-menu__bottom {
      display: flex;
      position: static;
      bottom: 65px;
      border-top: 1px solid white;
      margin-top: 240px;
      width: 100%;

      a, i{
        display: flex;
        border-bottom: 0;
        padding: 3px;
        // align-items: center;
        justify-content: space-around;
      }
    }
}
