// / Media Query Mixins
@media(min-width : 320px) and (max-width : 390px){
  header {
      .menu{
          .menu-left, .menu-right {
              display: flex;
              font-size: 1px
          }
      }
  }
}

@media only screen and (max-width: 799px) {
    a.bgnav_space{
        display: none;
    }
    i.material-icons._user{
        display: none;
    }

    .menu-right{
        li:first-child{
            display: none;
        }
    }
    header{
        padding: 0 3px;
        height: 18vh;
        
        
        a.list.--right{
            float: none;
        }

        .side-nav .side-menu__bottom {
            margin-top: 250px;
        }
        nav.menu{
            padding: 0  ;

            .menu-left li:last-child {
                display: inline-block;
            }

            .menu_title--left{
                position: relative;
                display: flex;
            }

            .licorera_logo{
                max-width: 150px;
                margin-top: 5px;
                left: 0;
            }
        }
        .menu_title{
            font-size: .8rem;
        }

        a.bgnav_space{
            display: none;
        }
    }
    #desktop {
        display: none;
    }

    .login{
        grid-template-columns: repeat(1, 1fr);
    }

    .one, .two {
        padding: 0;
        margin: auto;
        grid-column: 1/1;
        text-align: center;
        // width: 100%;
        // min-width: min-content;
        // max-width: max-content;
        

        div.checkbox{
            margin: 0 0 1em 2em;

            a{
                margin-left: 4rem;
            }
        }
    }

    // .two div.city label {
    //     display: block;
    // }

    .two{

        div.city label{
            display: block;
        }
        // div{
        //     text-align: left;
        //     margin-left: auto;
        // }

        .social.right {
            margin-left: -41px;
            margin-right: 63px;
            margin-bottom: 17px;
        }

        input#citi{
            margin: auto;
        }
        hr.two-center {
            width: 100%
        }

    }
    

    .one{
        .social .social-login.left {
            margin-left: 33px;
        }
    
        .social .social-login.right {
            margin-right: 40px;
        }
    }

    hr.center{
       display: none;
    }

    div.middle{
        display: block;
    }
}


@media only screen and (min-width : 800px) and (max-width : 1024px){
    
    a.bgnav_space{
        display: none;
    }
    i.material-icons._user{
        display: none;
    }

    .menu-right{
        li:first-child{
            display: none;
        }
    }

    .banner img{
        height: 65vh;
    }
    .banner_bottom{
        height: 17vh;
    }   

    header{
        height: 20vh;
        padding: 0 3px;

        a.list.--right{
            float: none;
        }

        .side-nav .side-menu__bottom {
            margin-top: 240px;
        }
        nav.menu{
            .menu-left li:last-child {
                display: inline-block;
            }

            .menu_title--left{
                position: relative;
                display: flex;
            }

            .licorera_logo{
                width: 170px;
                margin-top: 2px;
                left: 0;
            }
        }
        .menu_title{
            font-size: .8rem;
        }

        a.bgnav_space{
            display: none;
        }
    }#fmobile{
        display: none;
    }

    .login{
        grid-gap: 2px;
    }

    .one, .two {
        padding: 25px;
        margin: 10px;

        
    }
    .footer{
        height: 325px;
    }

    .two div.city label {
        display: block;
    }

    .middle{
        display: none;
    }
}

@media only screen and (min-width : 1025px) and (max-width : 1867px){
        .licorera_logo{
            margin: 2px 0;
            width: 195px;
        }

        #fmobile{
            display: none;
        }
        .footer{
            height: 260px;
        }

        div.middle{
            display: none;
        }
}   