// / Media Query Mixins
@media(min-width : 320px) and (max-width : 390px){
  header {
      .menu{
          .menu-left, .menu-right {
              display: flex;
              font-size: 1px
          }
      }
  }
}

@media only screen and (max-width: 799px) {
    a.bgnav_space{
        display: none;
    }
    i.material-icons._user{
        display: none;
    }

    .menu-right{
        li:first-child{
            display: none;
        }
    }
    header{
        padding: 0 3px;
        
        
        a.list.--right{
            float: none;
        }

        .side-nav .side-menu__bottom {
            margin-top: 250px;
        }
        nav.menu{
            padding: 0  ;

            .menu-left li:last-child {
                display: inline-block;
            }

            .menu_title--left{
                position: relative;
                display: flex;
            }

            .licorera_logo{
                max-width: 150px;
                margin-top: 5px;
                left: 0;
            }
        }
        .menu_title{
            font-size: .8rem;
        }

        a.bgnav_space{
            display: none;
        }
    }
    #desktop {
        display: none;
    }
}


@media only screen and (min-width : 800px) and (max-width : 1024px){
    
    a.bgnav_space{
        display: none;
    }
    i.material-icons._user{
        display: none;
    }

    .menu-right{
        li:first-child{
            display: none;
        }
    }

    .banner img{
        height: 65vh;
    }
    .banner_bottom{
        height: 17vh;
    }   

    header{
        height: 18vh;
        padding: 0 3px;

        a.list.--right{
            float: none;
        }

        .side-nav .side-menu__bottom {
            margin-top: 240px;
        }
        nav.menu{
            .menu-left li:last-child {
                display: inline-block;
            }

            .menu_title--left{
                position: relative;
                display: flex;
            }

            .licorera_logo{
                width: 170px;
                margin-top: 2px;
                left: 0;
            }
        }
        .menu_title{
            font-size: .8rem;
        }

        a.bgnav_space{
            display: none;
        }
    }#fmobile{
        display: none;
    }
}

@media only screen and (min-width : 1025px) and (max-width : 1367px){
        .licorera_logo{
            margin: 2px 0;
            width: 195px;
        }

        #fmobile{
            display: none;
        }
}   