// Media Query Mixins
@media only screen and (max-width: 360px) {
    .licorera_logo{
        width: 140px;
        margin-top: 5px;
        left: 0;
    }

    .menu{
        font-size: 7px;
    }

    .bgnav{
        font-size: 14px;
    }

    header nav.menu .licorera_logo{
        max-width: 50px;
        // border: 1px solid red;
        margin-top: 0;
    }
    
}

@media only screen and (max-width: 499px) {
    a.bgnav_space{
        display: none;
    }
    i.material-icons._user{
        display: none;
    }

    .menu-right{
        li:first-child{
            display: none;
        }
    }

    

    header{
        padding: 0 3px;

        a.list.--right{
            float: none;
        }

        .side-nav .side-menu__bottom {
            margin-top: 250px;
        }
        nav.menu{
            padding: 0  ;
            .menu-left li:last-child {
                display: inline-block;
            }

            .menu_title--left{
                position: relative;
                display: flex;
            }

            .licorera_logo{
                max-width: 150px;
                margin-top: 5px;
                left: 0;
            }
        }
        .menu_title{
            font-size: .8rem;
        }

        a.bgnav_space{
            display: none;
        }

        
    }
}


@media only screen and (min-width : 500px) and (max-width : 1024px){
    
    a.bgnav_space{
        display: none;
    }
    i.material-icons._user{
        display: none;
    }

    .menu-right{
        li:first-child{
            display: none;
        }
    }

    .banner img{
        height: 65vh;
    }

    

    header{
        height: 15vh;
        padding: 0 3px;

        a.list.--right{
            float: none;
        }

        .side-nav .side-menu__bottom {
            margin-top: 278px;
        }
        nav.menu{
            .menu-left li:last-child {
                display: inline-block;
            }

            .menu_title--left{
                position: relative;
                display: flex;
            }

            .licorera_logo{
                max-width: 150px;
                margin-top: 5px;
                left: 0;
            }
        }
        .menu_title{
            font-size: .8rem;
        }

        a.bgnav_space{
            display: none;
        }

        
    }

}
@media screen and (min-width: 1171px) {
    
}