@import 'config';
@import 'fonts';
@import 'loader';
@import 'header';
@import 'footer';


body {
    font-family: 'lato', sans-serif;
    margin: 0;
    background:$back-color;
    
    a{
        text-decoration: none;
        color:$primary-color;
    }

    ul{
        list-style: none;

    }
}




@import 'mobile';



