@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:100,200,400");
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.loader .load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

header {
  background: white;
  height: 20vh;
}

header a {
  color: #223A6F;
}

header .bgnav {
  background-color: #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  width: 100%;
}

header .bgnav a, header .bgnav i {
  color: white;
  font-size: 1em;
  margin: 0;
  margin-top: 3px;
}

header .bgnav a .fa-whatsapp, header .bgnav i .fa-whatsapp {
  color: #4FCE5D;
}

header .bgnav .bgnav_space {
  width: 161px;
}

header .bgnav .bgnav_span {
  border: 1px solid white;
  color: #888888;
  position: relative;
  top: 2px;
  font-size: x-large;
}

header nav.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
}

header nav.menu .licorera_logo {
  position: relative;
  left: 85px;
  margin: 5px 0;
}

header nav.menu .menu-left li:last-child {
  display: none;
}

header nav.menu ul {
  margin: 0;
  padding: 0;
}

header nav.menu ul a {
  font-size: .8rem;
}

header nav.menu ul li {
  display: inline-block;
  padding: 0 5px;
}

header nav.menu ul ._user {
  position: relative;
  top: -9px;
  font-size: 28px;
}

header .menu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  font-size: 9px;
}

header .fa-bars:before {
  border-right: 1px solid;
  padding-right: 14px;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.8;
  overflow-y: auto;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.side-nav .side-menu-ul ul {
  display: none;
}

.side-nav ul {
  padding: 0;
  margin: 0;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 17px;
  color: #ccc;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.side-nav a .fa-chevron-right {
  float: right;
}

.side-nav a .fa-chevron-down {
  float: right;
}

.side-nav a:not(.btn-close) {
  border-bottom: 2px solid;
  height: 12px;
}

.side-nav a.list {
  border: none;
  font-size: 0.8rem;
  padding: 2px 40px;
}

.side-nav a.list.--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.side-nav a:hover {
  color: white;
}

.side-nav .location li {
  background: #223A6F;
  position: relative;
  top: 0px;
}

.side-nav .location ul a {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.side-nav .side-menu__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
  margin-top: 8px;
}

.side-nav .side-menu__login p
li {
  color: white;
  font-size: 12px;
}

.side-nav .btn-close {
  display: -moz-inline-grid;
  font-size: 12px;
}

.side-nav .side-menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  bottom: 65px;
  border-top: 1px solid white;
  margin-top: 100px;
  width: 100%;
}

.side-nav .side-menu__bottom a, .side-nav .side-menu__bottom i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0;
  padding: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer {
  color: white;
  background: #223A6F;
  padding: 1em 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7vw 1fr 7vw;
      grid-template-columns: 7vw 1fr 7vw;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.footer-container {
  padding: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  display: -ms-grid;
  display: grid;
  /* ACTING AS A GRID CONTAINER */
  -ms-grid-columns: 2fr 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "navigation secondary " "contact contact social";
}

.footer-container a {
  color: white;
}

.footer-container ul {
  padding: 0 2em;
}

.footer-container .social-networks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.footer-container .social-networks h3 {
  grid-column: 1 / -1;
  margin: 33px;
  padding: 0;
}

.footer-container .social-networks li {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  grid-row: 1/1;
}

.bottom-line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7vw 8fr 4fr 7vw;
      grid-template-columns: 7vw 8fr 4fr 7vw;
}

.bottom-line p {
  -ms-grid-column: 2;
  grid-column: 2;
}

.bottom-line, .bottom-line a {
  color: #223A6F;
}

.bottom-line .legal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: end;
}

#fmobile {
  background: #223A6F;
  color: white;
  width: 100%;
  min-width: 300px;
  margin: 0;
}

.menu-footer {
  width: 100%;
  padding: 0;
}

.menu-footer ul {
  display: none;
  background: white;
  color: #223A6F;
}

.menu-footer a {
  display: block;
  padding: .5em .5em;
  width: 100%;
  font-size: 1.2em;
  font-weight: lighter;
}

.menu-footer a:hover {
  background: #2e4e96;
}

.menu-footer .icon {
  font-size: 1em;
  line-height: 24px;
}

.menu-footer .icon.left {
  margin-right: 1rem;
  float: left;
}

.menu-footer .icon.right {
  float: right;
  margin-left: 1rem;
}

.menu-footer .activado > a {
  background: #3a63bd;
  color: white;
}

.menu-footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer .social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: 'lato', sans-serif;
  margin: 0;
  background: #F2F2F2;
  position: static;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.banner img {
  height: 65vh;
}

.banner_bottom {
  height: 15vh;
}

main {
  padding-bottom: 1rem;
}

@media (min-width: 320px) and (max-width: 390px) {
  header .menu .menu-left, header .menu .menu-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1px;
  }
}

@media only screen and (max-width: 799px) {
  a.bgnav_space {
    display: none;
  }
  i.material-icons._user {
    display: none;
  }
  .menu-right li:first-child {
    display: none;
  }
  header {
    padding: 0 3px;
  }
  header a.list.--right {
    float: none;
  }
  header .side-nav .side-menu__bottom {
    margin-top: 250px;
  }
  header nav.menu {
    padding: 0;
  }
  header nav.menu .menu-left li:last-child {
    display: inline-block;
  }
  header nav.menu .menu_title--left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav.menu .licorera_logo {
    max-width: 150px;
    margin-top: 5px;
    left: 0;
  }
  header .menu_title {
    font-size: .8rem;
  }
  header a.bgnav_space {
    display: none;
  }
  #desktop {
    display: none;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  a.bgnav_space {
    display: none;
  }
  i.material-icons._user {
    display: none;
  }
  .menu-right li:first-child {
    display: none;
  }
  .banner img {
    height: 65vh;
  }
  .banner_bottom {
    height: 17vh;
  }
  header {
    height: 18vh;
    padding: 0 3px;
  }
  header a.list.--right {
    float: none;
  }
  header .side-nav .side-menu__bottom {
    margin-top: 278px;
  }
  header nav.menu .menu-left li:last-child {
    display: inline-block;
  }
  header nav.menu .menu_title--left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav.menu .licorera_logo {
    width: 170px;
    margin-top: 2px;
    left: 0;
  }
  header .menu_title {
    font-size: .8rem;
  }
  header a.bgnav_space {
    display: none;
  }
  #fmobile {
    display: none;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1367px) {
  .licorera_logo {
    margin: 2px 0;
    width: 195px;
  }
  #fmobile {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */